body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Roboto;
    background: #4d4d4d;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #DDD;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #DDD;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #DDD;
}

li {
    list-style: none;
    font-family: Roboto;
}

button {
    height: 50px;
    width: 250px;
    transform: skew(-7deg);
    border: 2px solid #CCC;
    background: #111;
    color: #FFF;
    margin: 5px;
    font-family: Roboto;
    font-size: 18px;
}
    button:hover {
        color: orange;
        border-color: orange;
        cursor: pointer;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: Exo;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

    body > canvas {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.1;
    }

    body > section.layer {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }

    body > section#fade {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.93+1,0.28+100 */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.93) 0%, rgba(0,0,0,0.93) 1%, rgba(0,0,0,0.28) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.93) 0%,rgba(0,0,0,0.93) 1%,rgba(0,0,0,0.28) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(0,0,0,0.93) 0%,rgba(0,0,0,0.93) 1%,rgba(0,0,0,0.28) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed000000', endColorstr='#47000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        z-index: 1;
    }

    body > section#type {
        width: 100%;
        height: 100%;
        z-index: 4;
        display: none;
    }

    body > section#waiting {
        width: 100%;
        height: 100%;
        z-index: 3;
        display: none;
    }

    body > section#players_info {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 300px;
        z-index: 0;
    }

        body > section#players_info > h3 {
            background: orange;
            padding: 5px;
            border-radius: 2px;
        }

    body > section#playername {
        width: 100%;
        height: 100%;
        z-index: 5;
    }

        body > section#playername h1 {
            font-size: 110px;
            line-height: 0;
            text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
        }
        body > section#playername span#error_playername {
            background: #F44336;
            color: #FFF;
            padding: 4px;
            border-radius: 3px;
            opacity: 0;
            transition: opacity 0.3s linear;
        }
        body > section#playername span {
            margin: 30px 0;
            font-size: 18px;
            font-weight: 300;
        }
            body > section#playername span b {
                color: orange;
                font-family: Exo;
            }

        body > section#playername input {
            background: transparent;
            outline: none;
            border: none;
            height: 50px;
            padding: 0 20px;
            min-width: 250px;
            border-radius: 10px;
            backface-visibility: hidden;
            border-left: 2px solid #FFF;
            border-right: 2px solid #FFF;
            text-align: center;
            font-size: 18px;
            color: #FFF;
            font-family: Roboto;
            transform: skew(-7deg);
        }
            body > section#playername input:focus {
                border-color: orange;
            }